<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Stack Project</title>
</head>
<body>
  <div class="container">
    <!-- header -->
    <div class="row">
      <h3>Express & Node with GCP Application Stack</h3>
      <h6 class="right-align">Mwangi, Rodas, Hussein, Pierre</h6>
      <hr>
      <p class="center"><a href="#">Introduction</a> | <a href="/tutorial">Tutorial</a> | <a href="/hello">"Hello World!"</a></p>
    </div>
    <!-- content -->
    <div class="row">
      <p class="indent">Hi Professor Bill Newman, this is our project. Please give us 120/100. Thank you.</p>
    </div>
  </div>
</body>
</html>